* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1e1e2e;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 0 2em;
  min-width: 500px;
}

.editable-content-modal {
  position: fixed;
  background-color: #b638ff;
  text-align: center;
  width: 300px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 5px;
  display: none;
  -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.5);
}

.editable-content-modal.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.editable-content-modal h2 {
  margin: auto;
  letter-spacing: 1px;
}

.cog-menu-toggler {
  position: fixed;
  right: 0;
  top: 150px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 80px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  z-index: 1;
}

.cog-menu-toggler i {
  margin: auto;
  font-size: 2em;
  -webkit-transition: -webkit-transform 750ms;
  transition: -webkit-transform 750ms;
  transition: transform 750ms;
  transition: transform 750ms, -webkit-transform 750ms;
}

.cog-menu-toggler i.active {
  -webkit-transform: rotate(145deg);
          transform: rotate(145deg);
}

.cog-menu {
  position: fixed;
  background-color: #222a41;
  top: -150%;
  right: 100px;
  text-align: center;
  min-height: 500px;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 300px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
  z-index: 1;
  opacity: 0;
  -webkit-transition: top 750ms, opacity 750ms;
  transition: top 750ms, opacity 750ms;
}

.cog-menu.active {
  top: 80px;
  opacity: 1;
}

.cog-menu h5 {
  text-transform: uppercase;
  margin: 1em 0;
  font-weight: 600;
}

.cog-menu h5:last-of-type {
  margin-top: 5em;
}

.cog-menu .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2em;
}

.cog-menu .color {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 0.3em;
  cursor: pointer;
}

.cog-menu .color.default {
  background-color: #3da775;
}

.cog-menu .color.pink {
  background-color: #e14eca;
}

.cog-menu .color.blue {
  background-color: #1d8cf8;
}

.cog-menu .color.orange {
  background-color: #ff8d72;
}

.cog-menu .color.red {
  background-color: #ee373a;
}

.cog-menu a {
  background-color: red;
  width: 100%;
  border-radius: 50px;
  height: 45px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right top, left bottom, from(#344675), color-stop(#263148), to(#344675));
  background: linear-gradient(to bottom left, #344675, #263148, #344675);
  position: relative;
  -webkit-transition: top 250ms;
  transition: top 250ms;
}

.cog-menu a:hover {
  top: -1px;
}

.cog-menu a:nth-of-type(2) {
  background: -webkit-gradient(linear, right top, left bottom, from(#e14eca), color-stop(#ba54f5), to(#e14eca));
  background: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
}

.cog-menu a:nth-of-type(3) {
  background: -webkit-gradient(linear, right top, left bottom, from(#1d8cf8), color-stop(#3358f4), to(#1d8cf8));
  background: linear-gradient(to bottom left, #1d8cf8, #3358f4, #1d8cf8);
}

.cog-menu .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cog-menu .socials a {
  width: 40%;
  margin: 0 2px;
  background: -webkit-gradient(linear, right top, left bottom, from(#1d8cf8), color-stop(#3358f4), to(#1d8cf8));
  background: linear-gradient(to bottom left, #1d8cf8, #3358f4, #1d8cf8);
}

.nav-top {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-top .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-top .left h1 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 100;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.nav-top .menu-toggler {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 40px;
  cursor: pointer;
  margin-right: 2em;
}

.nav-top .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
}

.nav-top .right i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.nav-top .right i:nth-of-type(2) {
  position: relative;
}

.nav-top .right i:nth-of-type(2)::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fd5d93;
  top: -50%;
}

.nav-top .user {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-top .mike {
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.content .nav-side {
  position: fixed;
  width: 80px;
  background: linear-gradient(45deg, #39986a 0%, #42b883 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 1;
  -webkit-transition: width 500ms, left 500ms;
  transition: width 500ms, left 500ms;
}

.content .nav-side::before {
  position: absolute;
  content: "";
  width: 70%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  top: 90px;
}

.content .nav-side img {
  width: 50px;
  cursor: pointer;
  margin: 1em 0 3em 0;
}

.content .nav-side i {
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: font-size 500ms;
  transition: font-size 500ms;
  position: relative;
}

.content .nav-side i:not(:first-of-type) {
  margin-top: 2em;
}

.content .nav-side i::after {
  position: absolute;
  content: "Lorem Ipsum";
  bottom: -120%;
  font-size: 14px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  cursor: default;
  color: rgba(255, 255, 255, 0.7);
}

.content .nav-side:hover {
  width: 200px;
}

.content .nav-side:hover i {
  font-size: 25px;
}

.content .nav-side:hover i::after {
  position: absolute;
  content: "Lorem Ipsum";
  bottom: -120%;
  font-size: 14px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
}

.content .main {
  display: -ms-grid;
  display: grid;
  margin-left: 100px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 320px 150px 320px 500px 500px 150px;
      grid-template-rows: 320px 150px 320px 500px 500px 150px;
  grid-row-gap: 2em;
}

.content .main .big-chart {
  background-color: #27293d;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  position: relative;
}

.content .main .big-chart .left p {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.5);
}

.content .main .big-chart .left h1 {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8);
}

.content .main .big-chart .right {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.content .main .big-chart .right button {
  height: 100%;
  border: 1px solid #e14eca;
  background-color: transparent;
  color: #e14eca;
  padding: 0.3em 1em;
  margin: 0 0.1em;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.content .main .big-chart .right button.active {
  background-color: #c752e6;
  color: #fff;
}

.content .main .big-chart .big-chart-container {
  width: 100%;
  height: 230px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.content .main .big-chart #big-chart-chart {
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.content .main .statistics {
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2em;
}

.content .main .statistics .one,
.content .main .statistics .two,
.content .main .statistics .three,
.content .main .statistics .four {
  background-color: #27293d;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .main .statistics .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .main .statistics .top i {
  position: relative;
  background: linear-gradient(45deg, #ff6e8a 0%, #ff8578 100%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 2;
  text-align: center;
  font-size: 1.5em;
}

.content .main .statistics .top .fa-star {
  background: linear-gradient(45deg, #c253ec 0%, #d94fd3 100%);
}

.content .main .statistics .top .fa-user {
  background: linear-gradient(45deg, #2e64f5 0%, #2182f7 100%);
}

.content .main .statistics .top .fa-cubes {
  background: linear-gradient(45deg, #f0312a 0%, #fa547d 100%);
}

.content .main .statistics .top .text {
  text-align: right;
}

.content .main .statistics .top .text p {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.5);
}

.content .main .statistics .top .text h1 {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5em;
  margin-left: 1.5em;
  position: relative;
  display: inline-block;
}

.content .main .statistics .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.content .main .statistics .bottom::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #2b3553;
  top: -80%;
}

.content .main .statistics .bottom i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}

.content .main .statistics .bottom p {
  color: rgba(255, 255, 255, 0.6);
  margin-left: 1em;
  font-size: 0.8em;
}

.content .main .smaller-charts {
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2em;
}

.content .main .smaller-charts .one,
.content .main .smaller-charts .two,
.content .main .smaller-charts .three {
  background-color: #27293d;
  font-weight: 100;
  padding: 1em;
  position: relative;
}

.content .main .smaller-charts .one p,
.content .main .smaller-charts .two p,
.content .main .smaller-charts .three p {
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.5);
}

.content .main .smaller-charts .one h1,
.content .main .smaller-charts .two h1,
.content .main .smaller-charts .three h1 {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5em;
  margin-left: 1.5em;
  position: relative;
  display: inline-block;
}

.content .main .smaller-charts .one .small-chart-container,
.content .main .smaller-charts .two .small-chart-container,
.content .main .smaller-charts .three .small-chart-container {
  width: 100%;
  height: 230px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.content .main .smaller-charts .one #small-chart-chart-1,
.content .main .smaller-charts .one #small-chart-chart-2,
.content .main .smaller-charts .one #small-chart-chart-3,
.content .main .smaller-charts .two #small-chart-chart-1,
.content .main .smaller-charts .two #small-chart-chart-2,
.content .main .smaller-charts .two #small-chart-chart-3,
.content .main .smaller-charts .three #small-chart-chart-1,
.content .main .smaller-charts .three #small-chart-chart-2,
.content .main .smaller-charts .three #small-chart-chart-3 {
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.content .main .smaller-charts .one h1::before {
  position: absolute;
  content: "";
  background-image: url("img/bell.png");
  background-size: cover;
  width: 20px;
  height: 20px;
  top: 50%;
  left: -40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content .main .smaller-charts .two h1::before {
  position: absolute;
  content: "";
  background-image: url("img/truck.png");
  background-size: cover;
  width: 20px;
  height: 20px;
  top: 50%;
  left: -40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content .main .smaller-charts .three h1::before {
  position: absolute;
  content: "";
  background-image: url("img/plane.png");
  background-size: cover;
  width: 20px;
  height: 20px;
  top: 50%;
  left: -40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content .main .management {
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
  grid-column-gap: 2em;
}

.content .main .management i {
  cursor: pointer;
}

.content .main .management .left {
  background-color: #27293d;
  padding: 1em;
  border-radius: 5px;
  overflow: auto;
}

.content .main .management .left .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .main .management .left .heading p {
  position: relative;
}

.content .main .management .left .heading p::after {
  position: absolute;
  content: "Today";
  font-size: 0.8em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -60px;
  color: rgba(255, 255, 255, 0.6);
}

.content .main .management .left table {
  width: 100%;
  margin-top: 1em;
}

.content .main .management .left input {
  margin-right: 1em;
}

.content .main .management .left .task {
  padding-right: 2.5em;
}

.content .main .management .left .task h5 {
  font-weight: 100;
}

.content .main .management .left .task p {
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.9em;
}

.content .main .management .left td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.7em 0;
}

.content .main .management .right {
  background-color: #27293d;
  padding: 1em;
  border-radius: 5px;
}

.content .main .management .right table {
  height: 90%;
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8em;
  margin-top: 1em;
}

.content .main .management .right th {
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
}

.content .main .management .right td {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.content .main .management .right img {
  width: 30px;
  border-radius: 50%;
}

.content .main .management .right .salary {
  padding-right: 3em;
}

.content .main .management .right .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .main .management .right .progress span {
  margin-right: 10px;
  width: 25px;
}

.content .main .management .right .progress-bar {
  width: 50%;
  min-width: 50px;
  max-width: 200px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.content .main .management .right .progress-value {
  height: 95%;
  background-color: #344675;
  border-radius: 10px;
}

.content .main .management .right i {
  cursor: pointer;
  margin: 0 5px;
  font-size: 15px;
}

.content .main .management .right .gr {
  color: #01f2c3;
}

.content .main .management .right .gr:hover {
  color: rgba(255, 255, 255, 0.8);
}

.content .main .management .right .rd {
  color: #fd5475;
}

.content .main .management .right .rd:hover {
  color: rgba(255, 255, 255, 0.8);
}

.content .main .locations {
  background-color: #27293d;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
}

.content .main .locations .left {
  width: 50%;
}

.content .main .locations .left h3 {
  font-weight: 100;
}

.content .main .locations .left p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8em;
}

.content .main .locations .left table {
  width: 100%;
  height: 70%;
  margin-top: 1em;
}

.content .main .locations .left td {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
}

.content .main .locations .left .us {
  position: relative;
}

.content .main .locations .left .us:hover::after {
  position: absolute;
  content: "";
  width: 150px;
  height: 100px;
  background-image: url("img/big-US.jpg");
  background-size: cover;
  left: 40px;
}

.content .main .locations .left .de {
  position: relative;
}

.content .main .locations .left .de:hover::after {
  position: absolute;
  content: "";
  width: 150px;
  height: 100px;
  background-image: url("img/big-DE.jpg");
  background-size: cover;
  left: 40px;
}

.content .main .locations .left .au {
  position: relative;
}

.content .main .locations .left .au:hover::after {
  position: absolute;
  content: "";
  width: 150px;
  height: 100px;
  background-image: url("img/big-AU.jpg");
  background-size: cover;
  left: 40px;
}

.content .main .locations .left .gb {
  position: relative;
}

.content .main .locations .left .gb:hover::after {
  position: absolute;
  content: "";
  width: 150px;
  height: 100px;
  background-image: url("img/big-GB.jpg");
  background-size: cover;
  background-position: center;
  left: 40px;
}

.content .main .locations .left .ro {
  position: relative;
}

.content .main .locations .left .ro:hover::after {
  position: absolute;
  content: "";
  width: 150px;
  height: 100px;
  background-image: url("img/big-RO.jpg");
  background-size: cover;
  left: 40px;
}

.content .main .locations .left .br {
  position: relative;
}

.content .main .locations .left .br:hover::after {
  position: absolute;
  content: "";
  width: 150px;
  height: 100px;
  background-image: url("img/big-BR.jpg");
  background-size: cover;
  left: 40px;
}

.content .main .locations .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  padding-left: 1em;
}

.content .main .locations .right img {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  max-height: 480px;
}

.content .main .footer {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .main .footer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-size: 0.8em;
}

.content .main .footer .left p {
  cursor: pointer;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}

.content .main .footer .left p:not(:first-of-type) {
  margin: 0 1em;
}

.content .main .footer .left p:hover {
  color: #e14eca;
}

.content .main .footer .right {
  font-size: 0.8em;
}

.content .main .footer .right span {
  cursor: pointer;
  color: #ba54f5;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}

.content .main .footer .right span:hover {
  color: #e14eca;
}

@media screen and (max-width: 1200px) {
  .content .nav-side {
    left: -50%;
  }
  .content .nav-side.show {
    left: 35px;
  }
  .content .main {
    margin-left: 0;
    -ms-grid-rows: 320px 350px 1000px 1000px 900px 150px;
        grid-template-rows: 320px 350px 1000px 1000px 900px 150px;
  }
  .content .main .statistics {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2em;
  }
  .content .main .smaller-charts {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 2em;
  }
  .content .main .management {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 2em;
  }
  .content .main .management .right {
    min-height: 400px;
  }
  .content .main .management .right td {
    padding: 1em 0;
  }
  .content .main .locations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .main .locations .left {
    width: 100%;
    margin-bottom: 3em;
  }
  .content .main .locations .left td {
    padding: 1em 0;
  }
  .content .main .locations .right {
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .main .locations .right img {
    max-height: 400px;
  }
}

@media screen and (max-width: 800px) {
  .content .main {
    -ms-grid-rows: 350px 700px 1000px 1000px 900px 150px;
        grid-template-rows: 350px 700px 1000px 1000px 900px 150px;
  }
  .content .main .statistics {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .content .main .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content .main .left,
  .content .main .right {
    margin: 1em 0;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */