$bg: #1e1e2e;
$primary: #27293d;
$white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg;
  color: $white;
  font-family: "Poppins", sans-serif;
  padding: 0 2em;
  min-width: 500px;
}

// EDITABLE-CONTENT-MODAL
.editable-content-modal {
  position: fixed;
  background-color: #b638ff;
  text-align: center;
  width: 300px;
  height: 100px;
  display: flex;
  padding: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 5px;
  display: none;
  box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.5);

  &.show {
    display: flex;
  }

  h2 {
    margin: auto;
    letter-spacing: 1px;
  }
}

// COG-MENU-TOGGLER
.cog-menu-toggler {
  position: fixed;
  right: 0;
  top: 150px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 80px;
  height: 60px;
  display: flex;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  z-index: 1;

  i {
    margin: auto;
    font-size: 2em;
    transition: transform 750ms;

    &.active {
      transform: rotate(145deg);
    }
  }
}

// COG-MENU
.cog-menu {
  position: fixed;
  background-color: #222a41;
  top: -150%;
  right: 100px;
  text-align: center;
  min-height: 500px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  border-radius: 5px;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.25);
  z-index: 1;
  opacity: 0;
  transition: top 750ms, opacity 750ms;

  &.active {
    top: 80px;
    opacity: 1;
  }

  h5 {
    text-transform: uppercase;
    margin: 1em 0;
    font-weight: 600;

    &:last-of-type {
      margin-top: 5em;
    }
  }

  .colors {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }

  .color {
    width: 20px;
    height: 20px;
    background-color: $white;
    border-radius: 50%;
    margin: 0 0.3em;
    cursor: pointer;

    &.default {
      background-color: #3da775;
    }

    &.pink {
      background-color: #e14eca;
    }

    &.blue {
      background-color: #1d8cf8;
    }

    &.orange {
      background-color: #ff8d72;
    }

    &.red {
      background-color: #ee373a;
    }
  }

  a {
    background-color: red;
    width: 100%;
    border-radius: 50px;
    height: 45px;
    color: $white;
    text-decoration: none;
    font-weight: 600;
    margin: 0.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom left, #344675, #263148, #344675);
    position: relative;
    transition: top 250ms;

    &:hover {
      top: -1px;
    }

    &:nth-of-type(2) {
      background: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    }

    &:nth-of-type(3) {
      background: linear-gradient(to bottom left, #1d8cf8, #3358f4, #1d8cf8);
    }
  }

  .socials {
    display: flex;
    margin: 0 10px;
    justify-content: center;

    a {
      width: 40%;
      margin: 0 2px;
      background: linear-gradient(to bottom left, #1d8cf8, #3358f4, #1d8cf8);
    }
  }
}

// NAV-TOP
.nav-top {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;

  .left {
    display: flex;

    h1 {
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 100;
      align-self: center;
      cursor: pointer;
    }
  }

  .menu-toggler {
    align-self: center;
    width: 40px;
    cursor: pointer;
    margin-right: 2em;
  }

  .right {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 150px;

    i {
      align-self: center;
      cursor: pointer;

      &:nth-of-type(2) {
        position: relative;

        &::after {
          position: absolute;
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #fd5d93;
          top: -50%;
        }
      }
    }
  }

  .user {
    cursor: pointer;
    display: flex;
  }

  .mike {
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
  }
}

// CONTENT
.content {
  // NAV-SIDE
  .nav-side {
    position: fixed;
    width: 80px;
    background: linear-gradient(45deg, #39986a 0%, #42b883 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1;
    transition: width 500ms, left 500ms;

    &::before {
      position: absolute;
      content: "";
      width: 70%;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.5);
      top: 90px;
    }

    img {
      width: 50px;
      cursor: pointer;
      margin: 1em 0 3em 0;
    }

    i {
      font-size: 20px;
      cursor: pointer;
      transition: font-size 500ms;
      position: relative;

      &:not(:first-of-type) {
        margin-top: 2em;
      }

      &::after {
        position: absolute;
        content: "Lorem Ipsum";
        bottom: -120%;
        font-size: 14px;
        width: max-content;
        left: 50%;
        transform: translate(-50%);
        opacity: 0;
        transition: opacity 500ms;
        cursor: default;
        color: rgba(255, 255, 255, 0.7);
      }
    }

    &:hover {
      width: 200px;
    }

    &:hover i {
      font-size: 25px;
    }

    &:hover i::after {
      position: absolute;
      content: "Lorem Ipsum";
      bottom: -120%;
      font-size: 14px;
      width: max-content;
      left: 50%;
      transform: translateX(-50%);
      opacity: 1;
    }
  }

  // MAIN
  .main {
    display: grid;
    margin-left: 100px;
    grid-template-columns: 1fr;
    grid-template-rows: 320px 150px 320px 500px 500px 150px;
    grid-row-gap: 2em;

    // BIG-CHART
    .big-chart {
      background-color: $primary;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      padding: 1em;
      position: relative;

      .left {
        p {
          font-size: 0.7em;
          color: rgba(255, 255, 255, 0.5);
        }

        h1 {
          font-weight: 100;
          color: rgba(255, 255, 255, 0.8);
        }
      }

      .right {
        align-self: flex-start;

        button {
          height: 100%;
          border: 1px solid #e14eca;
          background-color: transparent;
          color: #e14eca;
          padding: 0.3em 1em;
          margin: 0 0.1em;
          border-radius: 5px;
          font-weight: bold;
          cursor: pointer;
          outline: none;

          &.active {
            background-color: #c752e6;
            color: $white;
          }
        }
      }

      .big-chart-container {
        width: 100%;
        height: 230px;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      #big-chart-chart {
        width: 100%;
        max-height: 100%;
        margin: 0 auto;
      }
    }

    // STATISTICS
    .statistics {
      border-radius: 5px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 2em;

      .one,
      .two,
      .three,
      .four {
        background-color: $primary;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
          position: relative;
          background: linear-gradient(45deg, #ff6e8a 0%, #ff8578 100%);
          width: 50px;
          height: 50px;
          border-radius: 50%;
          line-height: 2;
          text-align: center;
          font-size: 1.5em;
        }

        .fa-star {
          background: linear-gradient(45deg, #c253ec 0%, #d94fd3 100%);
        }

        .fa-user {
          background: linear-gradient(45deg, #2e64f5 0%, #2182f7 100%);
        }

        .fa-cubes {
          background: linear-gradient(45deg, #f0312a 0%, #fa547d 100%);
        }

        .text {
          text-align: right;

          p {
            font-size: 0.7em;
            color: rgba(255, 255, 255, 0.5);
          }

          h1 {
            font-weight: 100;
            color: rgba(255, 255, 255, 0.8);
            font-size: 1.5em;
            margin-left: 1.5em;
            position: relative;
            display: inline-block;
          }
        }
      }

      .bottom {
        display: flex;
        align-items: center;
        position: relative;

        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 1px;
          background-color: #2b3553;
          top: -80%;
        }

        i {
          color: rgba(255, 255, 255, 0.6);
          font-size: 12px;
        }

        p {
          color: rgba(255, 255, 255, 0.6);
          margin-left: 1em;
          font-size: 0.8em;
        }
      }
    }

    // SMALLER-CHARTS
    .smaller-charts {
      border-radius: 5px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 2em;

      .one,
      .two,
      .three {
        background-color: $primary;
        font-weight: 100;
        padding: 1em;
        position: relative;

        p {
          font-size: 0.7em;
          color: rgba(255, 255, 255, 0.5);
        }

        h1 {
          font-weight: 100;
          color: rgba(255, 255, 255, 0.8);
          font-size: 1.5em;
          margin-left: 1.5em;
          position: relative;
          display: inline-block;
        }

        .small-chart-container {
          width: 100%;
          height: 230px;
          position: absolute;
          bottom: 0;
          left: 0;
        }

        #small-chart-chart-1,
        #small-chart-chart-2,
        #small-chart-chart-3 {
          width: 100%;
          max-height: 100%;
          margin: 0 auto;
        }
      }

      .one {
        h1::before {
          position: absolute;
          content: "";
          background-image: url("img/bell.png");
          background-size: cover;
          width: 20px;
          height: 20px;
          top: 50%;
          left: -40%;
          transform: translateY(-50%);
        }
      }

      .two {
        h1::before {
          position: absolute;
          content: "";
          background-image: url("img/truck.png");
          background-size: cover;
          width: 20px;
          height: 20px;
          top: 50%;
          left: -40%;
          transform: translateY(-50%);
        }
      }

      .three {
        h1::before {
          position: absolute;
          content: "";
          background-image: url("img/plane.png");
          background-size: cover;
          width: 20px;
          height: 20px;
          top: 50%;
          left: -40%;
          transform: translateY(-50%);
        }
      }
    }

    // MANAGEMENT
    .management {
      border-radius: 5px;
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      grid-column-gap: 2em;

      i {
        cursor: pointer;
      }

      .left {
        background-color: $primary;
        padding: 1em;
        border-radius: 5px;
        overflow: auto;

        .heading {
          display: flex;
          justify-content: space-between;

          p {
            position: relative;

            &::after {
              position: absolute;
              content: "Today";
              font-size: 0.8em;
              top: 50%;
              transform: translateY(-50%);
              right: -60px;
              color: rgba(255, 255, 255, 0.6);
            }
          }
        }

        table {
          width: 100%;
          margin-top: 1em;
        }

        input {
          margin-right: 1em;
        }

        .task {
          padding-right: 2.5em;

          h5 {
            font-weight: 100;
          }

          p {
            color: rgba(255, 255, 255, 0.3);
            font-size: 0.9em;
          }
        }

        td {
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          padding: 0.7em 0;
        }
      }

      .right {
        background-color: $primary;
        padding: 1em;
        border-radius: 5px;

        table {
          height: 90%;
          width: 100%;
          color: rgba(255, 255, 255, 0.8);
          font-size: 0.8em;
          margin-top: 1em;
        }

        th {
          text-align: left;
          color: rgba(255, 255, 255, 0.8);
        }

        td {
          border-top: 1px solid rgba(255, 255, 255, 0.1);
        }

        img {
          width: 30px;
          border-radius: 50%;
        }

        .salary {
          padding-right: 3em;
        }

        .progress {
          display: flex;
          align-items: center;

          span {
            margin-right: 10px;
            width: 25px;
          }

          &-bar {
            width: 50%;
            min-width: 50px;
            max-width: 200px;
            height: 8px;
            background-color: rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
          }

          &-value {
            height: 95%;
            background-color: #344675;
            border-radius: 10px;
          }
        }

        i {
          cursor: pointer;
          margin: 0 5px;
          font-size: 15px;
        }

        .gr {
          color: #01f2c3;

          &:hover {
            color: rgba(255, 255, 255, 0.8);
          }
        }

        .rd {
          color: #fd5475;

          &:hover {
            color: rgba(255, 255, 255, 0.8);
          }
        }
      }
    }

    // LOCATIONS
    .locations {
      background-color: $primary;
      border-radius: 5px;
      display: flex;
      padding: 1em;

      .left {
        width: 50%;

        h3 {
          font-weight: 100;
        }

        p {
          color: rgba(255, 255, 255, 0.5);
          font-size: 0.8em;
        }

        table {
          width: 100%;
          height: 70%;
          margin-top: 1em;
        }

        td {
          border-top: 1px solid rgba(255, 255, 255, 0.1);
          color: rgba(255, 255, 255, 0.6);
        }

        .us {
          position: relative;

          &:hover::after {
            position: absolute;
            content: "";
            width: 150px;
            height: 100px;
            background-image: url("img/big-US.jpg");
            background-size: cover;
            left: 40px;
          }
        }

        .de {
          position: relative;

          &:hover::after {
            position: absolute;
            content: "";
            width: 150px;
            height: 100px;
            background-image: url("img/big-DE.jpg");
            background-size: cover;
            left: 40px;
          }
        }

        .au {
          position: relative;

          &:hover::after {
            position: absolute;
            content: "";
            width: 150px;
            height: 100px;
            background-image: url("img/big-AU.jpg");
            background-size: cover;
            left: 40px;
          }
        }

        .gb {
          position: relative;

          &:hover::after {
            position: absolute;
            content: "";
            width: 150px;
            height: 100px;
            background-image: url("img/big-GB.jpg");
            background-size: cover;
            background-position: center;
            left: 40px;
          }
        }

        .ro {
          position: relative;

          &:hover::after {
            position: absolute;
            content: "";
            width: 150px;
            height: 100px;
            background-image: url("img/big-RO.jpg");
            background-size: cover;
            left: 40px;
          }
        }

        .br {
          position: relative;

          &:hover::after {
            position: absolute;
            content: "";
            width: 150px;
            height: 100px;
            background-image: url("img/big-BR.jpg");
            background-size: cover;
            left: 40px;
          }
        }
      }

      .right {
        width: 50%;
        display: flex;
        align-self: center;
        padding-left: 1em;

        img {
          width: 100%;
          margin: 0 auto;
          max-width: 1000px;
          max-height: 480px;
        }
      }
    }

    // FOOTER
    .footer {
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        display: flex;
        text-transform: uppercase;
        font-size: 0.8em;

        p {
          cursor: pointer;
          transition: color 250ms;
        }

        p:not(:first-of-type) {
          margin: 0 1em;
        }

        p:hover {
          color: #e14eca;
        }
      }

      .right {
        font-size: 0.8em;

        span {
          cursor: pointer;
          color: #ba54f5;
          transition: color 250ms;

          &:hover {
            color: #e14eca;
          }
        }
      }
    }
  }
}

// MEDIA QUERIES
// MAX-WIDTH 1200PX
@media screen and(max-width: 1200px) {
  .content {
    .nav-side {
      left: -50%;

      &.show {
        left: 35px;
      }
    }

    .main {
      margin-left: 0;
      grid-template-rows: 320px 350px 1000px 1000px 900px 150px;

      .statistics {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 2em;
      }

      .smaller-charts {
        grid-template-columns: 1fr;
        grid-row-gap: 2em;
      }

      .management {
        grid-template-columns: 1fr;
        grid-row-gap: 2em;

        .right {
          min-height: 400px;

          td {
            padding: 1em 0;
          }
        }
      }

      .locations {
        flex-direction: column;

        .left {
          width: 100%;
          margin-bottom: 3em;

          td {
            padding: 1em 0;
          }
        }

        .right {
          width: 100%;
          height: 100%;
          align-items: center;

          img {
            max-height: 400px;
          }
        }
      }
    }
  }
}

// MAX-WIDTH 800PX
@media screen and (max-width: 800px) {
  .content {
    .main {
      grid-template-rows: 350px 700px 1000px 1000px 900px 150px;

      .statistics {
        grid-template-columns: 1fr;
      }

      .footer {
        flex-direction: column;
        justify-content: center;
      }

      .left,
      .right {
        margin: 1em 0;
        text-align: center;
      }
    }
  }
}
